btcl/wsdl/ncra.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NCRAServiceImplService" targetNamespace="http://ws.ncra.gov/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ncra.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.ncra.gov/" xmlns="http://ws.ncra.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ncraRecord">
    <xs:sequence>
      <xs:element name="creditScore" type="xs:int"/>
      <xs:element minOccurs="0" name="memberSince" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="nationalID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getNCRARecordByNationalId" type="getNCRARecordByNationalId"/>
  <xs:complexType name="getNCRARecordByNationalId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getNCRARecordByNationalIdResponse" type="getNCRARecordByNationalIdResponse"/>
  <xs:complexType name="getNCRARecordByNationalIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ncraRecord"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getNCRARecordByNationalIdResponse">
    <wsdl:part element="tns:getNCRARecordByNationalIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNCRARecordByNationalId">
    <wsdl:part element="tns:getNCRARecordByNationalId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NCRAService">
    <wsdl:operation name="getNCRARecordByNationalId">
      <wsdl:input message="tns:getNCRARecordByNationalId" name="getNCRARecordByNationalId">
    </wsdl:input>
      <wsdl:output message="tns:getNCRARecordByNationalIdResponse" name="getNCRARecordByNationalIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NCRAServiceImplServiceSoapBinding" type="tns:NCRAService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getNCRARecordByNationalId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNCRARecordByNationalId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNCRARecordByNationalIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NCRAServiceImplService">
    <wsdl:port binding="tns:NCRAServiceImplServiceSoapBinding" name="NCRAServiceImplPort">
      <soap:address location="http://localhost:8080/ncra/ws/NCRAService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>