brta/wsdl/nbr.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NBRServiceImplService" targetNamespace="http://ws.nbr.gov/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.nbr.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.nbr.gov/" xmlns="http://ws.nbr.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="nbrRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="lastTaxClearanceDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="nationalID" type="xs:string"/>
      <xs:element minOccurs="0" name="TIN" type="xs:string"/>
      <xs:element name="taxAmountInLastFiscalYr" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getNBRRecordByNationalId" type="getNBRRecordByNationalId"/>
  <xs:complexType name="getNBRRecordByNationalId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getNBRRecordByNationalIdResponse" type="getNBRRecordByNationalIdResponse"/>
  <xs:complexType name="getNBRRecordByNationalIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="nbrRecord"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getNBRRecordByNationalId">
    <wsdl:part element="tns:getNBRRecordByNationalId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNBRRecordByNationalIdResponse">
    <wsdl:part element="tns:getNBRRecordByNationalIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NBRService">
    <wsdl:operation name="getNBRRecordByNationalId">
      <wsdl:input message="tns:getNBRRecordByNationalId" name="getNBRRecordByNationalId">
    </wsdl:input>
      <wsdl:output message="tns:getNBRRecordByNationalIdResponse" name="getNBRRecordByNationalIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NBRServiceImplServiceSoapBinding" type="tns:NBRService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getNBRRecordByNationalId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNBRRecordByNationalId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNBRRecordByNationalIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NBRServiceImplService">
    <wsdl:port binding="tns:NBRServiceImplServiceSoapBinding" name="NBRServiceImplPort">
      <soap:address location="http://localhost:8080/nbr/ws/NBRService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>