boi/wsdl/ec.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="NIDServiceImplService" targetNamespace="http://ws.ec.gov/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ec.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.ec.gov/" xmlns="http://ws.ec.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="citizen">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime"/>
      <xs:element name="gender" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="nationalId" type="xs:string"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getCitizenByNationalId" type="getCitizenByNationalId"/>
  <xs:complexType name="getCitizenByNationalId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getCitizenByNationalIdResponse" type="getCitizenByNationalIdResponse"/>
  <xs:complexType name="getCitizenByNationalIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="citizen"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCitizenByNationalIdResponse">
    <wsdl:part element="tns:getCitizenByNationalIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCitizenByNationalId">
    <wsdl:part element="tns:getCitizenByNationalId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NIDService">
    <wsdl:operation name="getCitizenByNationalId">
      <wsdl:input message="tns:getCitizenByNationalId" name="getCitizenByNationalId">
    </wsdl:input>
      <wsdl:output message="tns:getCitizenByNationalIdResponse" name="getCitizenByNationalIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NIDServiceImplServiceSoapBinding" type="tns:NIDService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCitizenByNationalId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCitizenByNationalId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCitizenByNationalIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NIDServiceImplService">
    <wsdl:port binding="tns:NIDServiceImplServiceSoapBinding" name="NIDServiceImplPort">
      <soap:address location="http://localhost:8080/ec/ws/NIDService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>