airport/wsdl/police.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PoliceServiceImplService" targetNamespace="http://ws.police.gov/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.police.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.police.gov/" xmlns="http://ws.police.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="policeRecord">
    <xs:sequence>
      <xs:element name="criminal" type="xs:boolean"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nationalId" type="xs:string"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getPoliceRecordByNationalId" type="getPoliceRecordByNationalId"/>
  <xs:complexType name="getPoliceRecordByNationalId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getPoliceRecordByNationalIdResponse" type="getPoliceRecordByNationalIdResponse"/>
  <xs:complexType name="getPoliceRecordByNationalIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="policeRecord"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPoliceRecordByNationalIdResponse">
    <wsdl:part element="tns:getPoliceRecordByNationalIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPoliceRecordByNationalId">
    <wsdl:part element="tns:getPoliceRecordByNationalId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PoliceService">
    <wsdl:operation name="getPoliceRecordByNationalId">
      <wsdl:input message="tns:getPoliceRecordByNationalId" name="getPoliceRecordByNationalId">
    </wsdl:input>
      <wsdl:output message="tns:getPoliceRecordByNationalIdResponse" name="getPoliceRecordByNationalIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PoliceServiceImplServiceSoapBinding" type="tns:PoliceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPoliceRecordByNationalId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPoliceRecordByNationalId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPoliceRecordByNationalIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PoliceServiceImplService">
    <wsdl:port binding="tns:PoliceServiceImplServiceSoapBinding" name="PoliceServiceImplPort">
      <soap:address location="http://localhost:8080/police/ws/PoliceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>