nbr/wsdl/brta.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="BRTAServiceImplService" targetNamespace="http://ws.brta.gov/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.brta.gov/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.brta.gov/" xmlns="http://ws.brta.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="brtaRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="nationalID" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleChasisNo" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleEngineNo" type="xs:string"/>
      <xs:element minOccurs="0" name="vehicleRegNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getBRTARecordByNationalId" type="getBRTARecordByNationalId"/>
  <xs:complexType name="getBRTARecordByNationalId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getBRTARecordByNationalIdResponse" type="getBRTARecordByNationalIdResponse"/>
  <xs:complexType name="getBRTARecordByNationalIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="brtaRecord"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getBRTARecordByNationalId">
    <wsdl:part element="tns:getBRTARecordByNationalId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBRTARecordByNationalIdResponse">
    <wsdl:part element="tns:getBRTARecordByNationalIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BRTAService">
    <wsdl:operation name="getBRTARecordByNationalId">
      <wsdl:input message="tns:getBRTARecordByNationalId" name="getBRTARecordByNationalId">
    </wsdl:input>
      <wsdl:output message="tns:getBRTARecordByNationalIdResponse" name="getBRTARecordByNationalIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BRTAServiceImplServiceSoapBinding" type="tns:BRTAService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBRTARecordByNationalId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBRTARecordByNationalId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBRTARecordByNationalIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BRTAServiceImplService">
    <wsdl:port binding="tns:BRTAServiceImplServiceSoapBinding" name="BRTAServiceImplPort">
      <soap:address location="http://localhost:8080/brta/ws/BRTAService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>